.testimonials_section{
  width: 100%;
  height: auto;
  position: relative;
}

.test_mobile {
  display: flex;
  width: 100%;
  height: auto;
}

.test_tablet {
  display: none;
  width: 100%;
  height: auto;
}

.test_desktop {
  display: none;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 720px) {
  .test_mobile {
    display: none;
  }

  .test_tablet {
    display: flex;
  }

  .test_desktop {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .test_mobile {
    display: none;
  }

  .test_tablet {
    display: none;
  }

  .test_desktop {
    display: flex;
  }
}

.test_bottom_sep {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(101px) rotate(180deg) scaleY(1);
}