@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/signika_negative.ttf') format('truetype');
    /* Safari, Android, iOS */
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
