@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/signika_negative.ttf') format('truetype');
    /* Safari, Android, iOS */
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mySwiper4 {
  display: flex;
  max-width: 720px;
  border: 5px #f7001f;
  justify-content: center;
  align-items: center;
  box-shadow: -3px -3px 0px #f7002176, 3px 3px 0px #6600afd1;
  background: linear-gradient(330deg, #320ab8, #4400b6, #6700af, #8c00a3, #ae0092, #cb007b, #e10062, #ef004a, #f50033, #f7001f, #f6000b, #f60000);
}

.mySwiper_Coverflow {
  display: flex;
  /* min-width: 320px; */
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.coverflow_slide {
  display: flex;
  width: 300px;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.coverflow_slide::after {
  content: '';
  width: 300px;
  height: 200px;
  position: absolute;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(37, 37, 38, 0.478);
}

.coverflow_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 0 0 20px rgb(0, 0, 0);
}
