.menu_cont {
  display: flex;
  width: 100%;
  height: 200px;
  padding-block-start: 20px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #feebd1;
  /* background: radial-gradient(circle at -10% 80%, #f6f6f6, #f6f6f5, #f7f5f3, #f8f4ef, #f9f3eb, #faf1e6, #fbf0e1, #fceedc, #fdedd8, #fdecd4, #feebd2, #feebd1); */
  transform: translateY(260px);
  transition: transform 500ms ease-in;
  user-select: none;
}

.up_menu {
  transform: translateY(0px);
  transition: transform 400ms ease-out;
}

.separador {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  transform: rotate(180deg);
}